body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure body takes at least the full viewport height */
    display: flex;
    flex-direction: column; /* Arrange children in column direction */
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.picture-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.picture {
    max-width: 150px;
    height: auto;
    margin: 0 10px;
}

#text-1 {
    text-align: center;
}

#text-1 h1 {
    font-size: 24px;
    margin: 20px 0;
}

#text-2 {
    text-align: center;
}

#text-2 p {
    font-size: 18px;
    margin: 10px 0;
}

#text-3 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push to the bottom */
}


